._root_7zs2k_1 {
  all: unset;
  display: revert;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: var(--zds-space-4);
  height: var(--zds-size-small);
  border: var(--zds-border-default);
  border-radius: var(--zds-radius-default);
  padding-left: var(--zds-space-6);
  padding-right: var(--zds-space-6);
  background-color: var(--zds-background-weaker);
  color: var(--zds-text-link);
  font: var(--zds-body-3);
  /* Icon overrides */
}
._root_7zs2k_1[data-focus-visible] {
  outline: var(--zds-border-focus);
  outline-offset: 2px;
}
._root_7zs2k_1[data-hovered] {
  background-color: var(--zds-ui-primary-weakest);
}
._root_7zs2k_1[data-size=compact] {
  font: var(--zds-minimal-print-3);
}
._root_7zs2k_1[data-size=medium] {
  height: var(--zds-size-medium);
  gap: var(--zds-space-6);
}
._root_7zs2k_1[data-disabled] {
  border: none;
  background-color: var(--zds-background-strongest);
  color: var(--zds-text-weakest);
  cursor: not-allowed;
}
._root_7zs2k_1 span[data-testid=iconContainer] {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: calc(var(--zds-space-2) * -1);
  height: var(--zds-size-16);
  width: var(--zds-size-16);
}
._root_7zs2k_1[data-size=medium] span[data-testid=iconContainer] {
  margin-left: 0;
  height: var(--zds-size-20);
  width: var(--zds-size-20);
}._button_174rt_1 {
  all: unset;
  display: revert;
  box-sizing: border-box;
  cursor: pointer;
  /*
    To account for the blank space inside of icons, we define CSS custom property values to be subtracted from the vertical padding when an icon is present. Icons have different amounts of white space depending on their shape, but they all have at least 2px of white space on each side.
    PDL button icon sizes vary by button size and variant, and their icon sizes are defined in rems. So the subtraction value needs to be defined in rems to properly scale. The precise subtraction values are below, but we use 0.125rem (i.e. --zds-space-2) for simplicity.
      - compact/small: 0.83 rem white space on each side
      - medium: 0.10 rem white space on each side
      - large: 0.125 rem white space on each side
  */
  --padding-left-subtraction: 0px;
  --padding-right-subtraction: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--zds-size-8);
  padding: 0 var(--zds-space-12);
  padding-left: calc(var(--zds-space-12) - var(--padding-left-subtraction));
  padding-right: calc(var(--zds-space-12) - var(--padding-right-subtraction));
  border-style: solid;
  border-radius: var(--zds-radius-small);
  border-width: 1px;
  border-color: transparent;
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 200ms;
  /* Once the different legacy focus-visible styles are removed, this will be the only data-focus-visible block needed. */
}
._button_174rt_1[data-has-icon-start] {
  --padding-left-subtraction: var(--zds-size-2);
}
._button_174rt_1[data-has-icon-end] {
  --padding-right-subtraction: var(--zds-size-2);
}
._button_174rt_1[data-hovered] {
  box-shadow: var(--zds-radius-none);
  color: #000;
}
._button_174rt_1[data-loading=true] {
  cursor: not-allowed;
}
._button_174rt_1 ._spinner-wrapper_174rt_44 {
  position: absolute;
  animation: _fade-in_174rt_1 200ms ease-in-out;
}
@keyframes _fade-in_174rt_1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
._button_174rt_1 ._content_174rt_56 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--zds-size-8);
  opacity: 1;
  transition: opacity 100ms ease, transform 100ms ease;
}
._button_174rt_1[data-loading=true] ._content_174rt_56 {
  opacity: 0;
  transform: translateY(5px);
}
._button_174rt_1[data-size=compact] {
  height: var(--zds-size-small);
  padding: 0 var(--zds-space-8);
  padding-left: calc(var(--zds-space-8) - var(--padding-left-subtraction));
  padding-right: calc(var(--zds-space-8) - var(--padding-right-subtraction));
  gap: var(--zds-space-4);
}
._button_174rt_1[data-size=compact] [data-testid=iconContainer] {
  height: var(--zds-size-16);
  width: var(--zds-size-16);
}
._button_174rt_1[data-size=compact] [role=status] {
  height: var(--zds-space-12);
  width: var(--zds-space-12);
  border-width: 3px;
}
._button_174rt_1[data-size=small] {
  height: var(--zds-size-small);
  padding: 0 var(--zds-space-8);
  padding-left: calc(var(--zds-space-8) - var(--padding-left-subtraction));
  padding-right: calc(var(--zds-space-8) - var(--padding-right-subtraction));
  gap: var(--zds-space-4);
}
._button_174rt_1[data-size=small] [data-testid=iconContainer] {
  height: var(--zds-size-16);
  width: var(--zds-size-16);
}
._button_174rt_1[data-size=small] [role=status] {
  height: var(--zds-space-12);
  width: var(--zds-space-12);
  border-width: 3px;
}
._button_174rt_1[data-size=medium] {
  height: var(--zds-size-medium);
}
._button_174rt_1[data-size=medium] [data-testid=iconContainer] {
  height: var(--zds-size-20);
  width: var(--zds-size-20);
}
._button_174rt_1[data-size=medium] [role=status] {
  height: var(--zds-size-16);
  width: var(--zds-size-16);
}
._button_174rt_1[data-size=large] {
  height: var(--zds-size-large);
  padding: 0 var(--zds-space-16);
  padding-left: calc(var(--zds-space-16) - var(--padding-left-subtraction));
  padding-right: calc(var(--zds-space-16) - var(--padding-right-subtraction));
  gap: var(--zds-space-12);
}
._button_174rt_1[data-size=large] [data-testid=iconContainer] {
  height: var(--zds-size-24);
  width: var(--zds-size-24);
}
._button_174rt_1[data-size=large] [role=status] {
  height: var(--zds-size-20);
  width: var(--zds-size-20);
}
._button_174rt_1[data-focus-visible] {
  outline: var(--zds-border-focus);
  outline-offset: var(--zds-space-2);
}
._button_174rt_1[data-variant=brand] {
  border-radius: var(--zds-radius-large);
  background-color: var(--zds-ui-brand);
  color: var(--zds-text-inverted);
}
._button_174rt_1[data-variant=brand] [role=status] {
  border-color: var(--zds-text-inverted);
  border-right-color: transparent;
}
._button_174rt_1[data-variant=brand][data-focus-visible] {
  outline: var(--zds-border-focus);
  outline-offset: var(--zds-space-2);
}
._button_174rt_1[data-variant=brand][data-hovered] {
  background-color: var(--zds-ui-brand-stronger);
}
._button_174rt_1[data-variant=brand][data-size=compact] {
  padding: 0 var(--zds-space-12);
  padding-left: calc(var(--zds-space-12) - var(--padding-left-subtraction));
  padding-right: calc(var(--zds-space-12) - var(--padding-right-subtraction));
  font: var(--zds-minimal-print-3);
}
._button_174rt_1[data-variant=brand][data-size=small] {
  padding: 0 var(--zds-space-12);
  padding-left: calc(var(--zds-space-12) - var(--padding-left-subtraction));
  padding-right: calc(var(--zds-space-12) - var(--padding-right-subtraction));
  font: var(--zds-body-3);
}
._button_174rt_1[data-variant=brand][data-size=medium] {
  padding: 0 var(--zds-space-16);
  padding-left: calc(var(--zds-space-16) - var(--padding-left-subtraction));
  padding-right: calc(var(--zds-space-16) - var(--padding-right-subtraction));
  font: var(--zds-body-3);
}
._button_174rt_1[data-variant=brand][data-size=large] {
  padding: 0 var(--zds-space-20);
  padding-left: calc(var(--zds-space-20) - var(--padding-left-subtraction));
  padding-right: calc(var(--zds-space-20) - var(--padding-right-subtraction));
  font: var(--zds-paragraph-header-3);
}
._button_174rt_1[data-variant=primary] {
  background-color: var(--zds-ui-primary-stronger);
  color: var(--zds-text-inverted);
}
._button_174rt_1[data-variant=primary] [role=status] {
  border-color: var(--zds-text-inverted);
  border-right-color: transparent;
}
._button_174rt_1[data-variant=primary][data-hovered] {
  background-color: var(--zds-ui-primary-strongest);
}
._button_174rt_1[data-variant=primary][data-size=compact] {
  font: var(--zds-minimal-print-3);
}
._button_174rt_1[data-variant=primary][data-size=small], ._button_174rt_1[data-variant=primary][data-size=medium] {
  font: var(--zds-body-3);
}
._button_174rt_1[data-variant=primary][data-size=large] {
  font: var(--zds-paragraph-header-3);
}
._button_174rt_1[data-variant=secondary] {
  background-color: var(--zds-ui-primary-weaker);
  border-color: var(--zds-ui-primary-weaker);
  color: var(--zds-ui-primary-strongest);
  border-width: 1px;
}
._button_174rt_1[data-variant=secondary] [role=status] {
  border-color: var(--zds-ui-primary-strongest);
  border-right-color: transparent;
}
._button_174rt_1[data-variant=secondary][data-hovered] {
  background-color: var(--zds-ui-primary);
  border-color: var(--zds-ui-primary);
  color: var(--zds-text-inverted);
}
._button_174rt_1[data-variant=secondary][data-size=compact] {
  font: var(--zds-minimal-print-2);
}
._button_174rt_1[data-variant=secondary][data-size=small], ._button_174rt_1[data-variant=secondary][data-size=medium] {
  font: var(--zds-body-2);
}
._button_174rt_1[data-variant=secondary][data-size=large] {
  font: var(--zds-paragraph-header-2);
}
._button_174rt_1[data-variant=tertiary] {
  background-color: var(--zds-background-weaker);
  color: var(--zds-text-default);
  border: var(--zds-border-default);
}
._button_174rt_1[data-variant=tertiary] [role=status] {
  border-color: var(--zds-text-default);
  border-right-color: transparent;
}
._button_174rt_1[data-variant=tertiary][data-focus-visible] {
  outline: var(--zds-border-focus);
  outline-offset: var(--zds-space-2);
}
._button_174rt_1[data-variant=tertiary][data-hovered] {
  background-color: var(--zds-background-stronger);
  color: var(--zds-text-default);
}
._button_174rt_1[data-variant=tertiary][data-size=compact] {
  font: var(--zds-minimal-print-2);
}
._button_174rt_1[data-variant=tertiary][data-size=small], ._button_174rt_1[data-variant=tertiary][data-size=medium] {
  font: var(--zds-body-2);
}
._button_174rt_1[data-variant=tertiary][data-size=large] {
  font: var(--zds-paragraph-header-2);
}
._button_174rt_1[data-variant=ghost] {
  background-color: transparent;
  color: var(--zds-ui-primary-stronger);
}
._button_174rt_1[data-variant=ghost] [role=status] {
  border-color: var(--zds-text-weakest);
  border-right-color: transparent;
}
._button_174rt_1[data-variant=ghost][data-hovered] {
  background-color: var(--zds-ui-primary-weakest);
}
._button_174rt_1[data-variant=ghost][data-size=compact] {
  font: var(--zds-minimal-print-2);
}
._button_174rt_1[data-variant=ghost][data-size=small], ._button_174rt_1[data-variant=ghost][data-size=medium] {
  font: var(--zds-body-2);
}
._button_174rt_1[data-variant=ghost][data-size=large] {
  font: var(--zds-paragraph-header-2);
}
._button_174rt_1[data-variant=danger] {
  background-color: var(--zds-status-error-stronger);
  color: var(--zds-text-inverted);
}
._button_174rt_1[data-variant=danger] [role=status] {
  border-color: var(--zds-text-inverted);
  border-right-color: transparent;
}
._button_174rt_1[data-variant=danger][data-focus-visible] {
  outline: var(--zds-border-focus);
  outline-offset: var(--zds-space-2);
}
._button_174rt_1[data-variant=danger][data-hovered] {
  background-color: var(--zds-status-error-stronger);
}
._button_174rt_1[data-variant=danger][data-size=compact] {
  font: var(--zds-minimal-print-2);
}
._button_174rt_1[data-variant=danger][data-size=small], ._button_174rt_1[data-variant=danger][data-size=medium] {
  font: var(--zds-body-3);
}
._button_174rt_1[data-variant=danger][data-size=large] {
  font: var(--zds-paragraph-header-3);
}
._button_174rt_1[data-disabled]:not([data-loading=true]) {
  cursor: not-allowed;
  background-color: var(--zds-background-strongest);
  border-color: var(--zds-background-strongest);
  border-width: 1px;
  color: var(--zds-text-weakest);
  outline: none;
  box-shadow: none;
}
._button_174rt_1[data-disabled]:not([data-loading=true])[data-variant=tertiary] {
  background-color: var(--zds-background-strongest);
  border: none;
}._icon-button_1a01z_1 {
  all: unset;
  display: revert;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--zds-radius-small);
  padding: var(--zds-space-4);
  /* Size variants */
  /* Variant styles */
}
._icon-button_1a01z_1[data-hovered] {
  cursor: pointer;
}
._icon-button_1a01z_1[data-disabled] {
  cursor: not-allowed;
}
._icon-button_1a01z_1[data-focus-visible] {
  outline: var(--zds-border-focus);
  outline-offset: var(--zds-space-2);
}
._icon-button_1a01z_1[data-size=small] {
  width: var(--zds-size-small);
  height: var(--zds-size-small);
}
._icon-button_1a01z_1[data-size=small] span {
  width: var(--zds-size-20);
  height: var(--zds-size-20);
}
._icon-button_1a01z_1[data-size=medium] {
  width: var(--zds-size-medium);
  height: var(--zds-size-medium);
}
._icon-button_1a01z_1[data-size=medium] span {
  width: var(--zds-size-24);
  height: var(--zds-size-24);
}
._icon-button_1a01z_1[data-size=large] {
  width: var(--zds-size-large);
  height: var(--zds-size-large);
}
._icon-button_1a01z_1[data-size=large] span {
  width: var(--zds-size-32);
  height: var(--zds-size-32);
}
._icon-button_1a01z_1[data-variant=primary] {
  border: 1px solid var(--zds-ui-primary-stronger);
  background-color: var(--zds-ui-primary-stronger);
  color: var(--zds-prime-white);
}
._icon-button_1a01z_1[data-variant=primary][data-hovered] {
  color: var(--zds-prime-white);
  background-color: var(--zds-ui-primary-strongest);
}
._icon-button_1a01z_1[data-variant=primary][data-disabled] {
  background: var(--zds-background-strongest);
  border: 1px solid var(--zds-background-strongest);
  color: var(--zds-text-weakest);
}
._icon-button_1a01z_1[data-variant=secondary] {
  color: var(--zds-ui-primary-stronger);
  background-color: var(--zds-ui-primary-weaker);
  border: 1px solid var(--zds-ui-primary-weaker);
}
._icon-button_1a01z_1[data-variant=secondary][data-hovered] {
  color: var(--zds-prime-white);
  background-color: var(--zds-ui-primary);
  border-color: var(--zds-ui-primary);
}
._icon-button_1a01z_1[data-variant=secondary][data-disabled] {
  color: var(--zds-text-weakest);
  background: var(--zds-background-strongest);
  border-color: var(--zds-background-strongest);
}
._icon-button_1a01z_1[data-variant=tertiary] {
  background-color: var(--zds-background-weaker);
  color: var(--zds-text-default);
  border: 1px solid var(--zds-stroke-default);
}
._icon-button_1a01z_1[data-variant=tertiary][data-hovered] {
  background-color: var(--zds-background-stronger);
}
._icon-button_1a01z_1[data-variant=tertiary][data-focus-visible] {
  background-color: var(--zds-background-weaker);
}
._icon-button_1a01z_1[data-variant=tertiary][data-disabled] {
  background-color: var(--zds-background-strongest);
  border: none;
  color: var(--zds-text-weakest);
}
._icon-button_1a01z_1[data-variant=ghost] {
  color: var(--zds-gray-warm-8);
  background-color: transparent;
}
._icon-button_1a01z_1[data-variant=ghost][data-hovered] {
  background-color: var(--zds-ui-primary-weakest);
}
._icon-button_1a01z_1[data-variant=ghost][data-focus-visible] {
  background-color: var(--zds-background-weaker);
}
._icon-button_1a01z_1[data-variant=ghost][data-disabled] {
  background-color: var(--zds-background-strongest);
  border-color: var(--zds-background-strongest);
  color: var(--zds-text-weakest);
}
._icon-button_1a01z_1[data-variant=brand] {
  background-color: var(--zds-ui-brand);
  color: var(--zds-prime-white);
}
._icon-button_1a01z_1[data-variant=brand][data-hovered] {
  background-color: var(--zds-ui-brand-stronger);
}
._icon-button_1a01z_1[data-variant=brand][data-disabled] {
  background-color: var(--zds-background-strongest);
  border-color: var(--zds-background-strongest);
  color: var(--zds-text-weakest);
}._carousel_1s3e1_1 {
  /* defined in Carousel.tsx:
    --gutter-width
    --page-background-color
  */
  --gutter-width-negative: calc(var(--gutter-width) * -1);
  position: relative;
}
._carousel_1s3e1_1 ._scrollable-container_1s3e1_9 {
  width: 100%;
  /* Allow content drop-shadow to be visible if it exists */
  padding-bottom: var(--zds-space-12);
  margin-bottom: calc(var(--zds-space-12) * -1);
  overflow: scroll hidden;
  /* Hide scrollbar on all browsers */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  /* On mobile, we want to go into the gutter to make the scrollable area full width */
}
._carousel_1s3e1_1 ._scrollable-container_1s3e1_9::-webkit-scrollbar {
  display: none;
}
@media screen and (max-width: 767px) {
  ._carousel_1s3e1_1 ._scrollable-container_1s3e1_9 {
    margin-left: calc(var(--gutter-width) * -1);
    padding-left: var(--gutter-width);
    margin-right: calc(var(--gutter-width) * -1);
    padding-right: var(--gutter-width);
  }
}
._carousel_1s3e1_1 ._carousel-styles_1s3e1_31 {
  display: flex;
  flex-direction: row;
  gap: var(--zds-space-20);
  width: 100%;
  /* On mobile, add a spacer after the last child to account for gutter */
}
@media screen and (max-width: 767px) {
  ._carousel_1s3e1_1 ._carousel-styles_1s3e1_31 > *:last-child {
    position: relative;
  }
  ._carousel_1s3e1_1 ._carousel-styles_1s3e1_31 > *:last-child::after {
    content: "";
    display: block;
    position: absolute;
    right: calc(var(--gutter-width) * -1);
    width: var(--gutter-width);
    height: 1px;
  }
}
@media screen and (min-width: 768px) {
  ._carousel_1s3e1_1 ._right-arrow-space_1s3e1_52 > *:last-child {
    position: relative;
  }
  ._carousel_1s3e1_1 ._right-arrow-space_1s3e1_52 > *:last-child::after {
    content: "";
    display: block;
    position: absolute;
    right: calc(var(--zds-space-48) * -1);
    width: var(--zds-space-48);
    height: 1px;
  }
}
._carousel_1s3e1_1 ._arrow-button_1s3e1_64 {
  display: none;
}
@media screen and (min-width: 768px) {
  ._carousel_1s3e1_1 ._arrow-button_1s3e1_64 {
    display: flex;
    position: absolute;
    top: 0;
    height: 100%;
    width: var(--zds-space-48);
    border: none;
    z-index: 3;
    align-items: center;
    justify-content: center;
  }
}
._carousel_1s3e1_1 ._left-arrow_1s3e1_80 {
  left: 0;
}
._carousel_1s3e1_1 ._right-arrow_1s3e1_52 {
  right: 0;
}
._carousel_1s3e1_1 ._left-gradient_1s3e1_86 {
  position: absolute;
  height: 100%;
  width: var(--zds-space-48);
  left: var(--gutter-width-negative);
  z-index: 2;
  background: linear-gradient(to left, transparent 0%, var(--page-background-color) 85%);
}
@media screen and (min-width: 768px) {
  ._carousel_1s3e1_1 ._left-gradient_1s3e1_86 {
    left: 0;
    width: calc(var(--zds-space-40) * 2);
  }
}
._carousel_1s3e1_1 ._right-gradient_1s3e1_100 {
  position: absolute;
  height: 100%;
  width: var(--zds-space-48);
  right: var(--gutter-width-negative);
  z-index: 2;
  background: linear-gradient(to right, transparent 0%, var(--page-background-color) 85%);
}
@media screen and (min-width: 768px) {
  ._carousel_1s3e1_1 ._right-gradient_1s3e1_100 {
    right: 0;
    width: calc(var(--zds-space-40) * 2);
  }
}._root_1up1u_1 {
  all: unset;
  display: revert;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: var(--zds-space-4);
  color: var(--zds-gray-warm-10);
  forced-color-adjust: none;
  padding-left: 3px;
}
._root_1up1u_1 ._checkbox_1up1u_13 {
  box-sizing: border-box;
  width: 18px;
  height: 18px;
  border: 2px solid var(--zds-stroke-default);
  border-radius: var(--zds-radius-none);
  transition: all 40ms;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
}
._root_1up1u_1 svg {
  width: 14px;
  height: 14px;
  fill: none;
  stroke: var(--zds-prime-white);
  stroke-width: 3px;
  stroke-dasharray: 22px;
  stroke-dashoffset: 66;
  transition: all 120ms;
}
._root_1up1u_1[data-has-no-visible-label] {
  padding: 0;
}
._root_1up1u_1[data-pressed] ._checkbox_1up1u_13 {
  border-color: var(--zds-ui-primary-stronger);
}
._root_1up1u_1[data-focus-visible] {
  outline: var(--zds-border-focus);
  outline-offset: var(--zds-size-2);
}
._root_1up1u_1[data-selected] ._checkbox_1up1u_13, ._root_1up1u_1[data-indeterminate] ._checkbox_1up1u_13 {
  border-color: var(--zds-ui-primary-stronger);
  background: var(--zds-ui-primary-stronger);
}
._root_1up1u_1[data-selected][data-pressed] ._checkbox_1up1u_13, ._root_1up1u_1[data-indeterminate][data-pressed] ._checkbox_1up1u_13 {
  border-color: var(--zds-ui-primary-strongest);
  background: var(--zds-ui-primary-strongest);
}
._root_1up1u_1[data-selected] ._label_1up1u_53, ._root_1up1u_1[data-indeterminate] ._label_1up1u_53 {
  font: var(--zds-body-3);
}
._root_1up1u_1[data-selected] svg, ._root_1up1u_1[data-indeterminate] svg {
  stroke-dashoffset: 44;
}
._root_1up1u_1[data-invalid] {
  color: var(--zds-status-error-stronger);
}
._root_1up1u_1[data-invalid] ._checkbox_1up1u_13 {
  border-color: var(--zds-status-error-stronger);
}
._root_1up1u_1[data-invalid][data-selected] ._checkbox_1up1u_13 {
  background: var(--zds-status-error-stronger);
}
._root_1up1u_1[data-invalid][data-pressed][data-selected] ._checkbox_1up1u_13 {
  background: var(--zds-status-error-strongest);
  border-color: var(--zds-status-error-strongest);
}
._root_1up1u_1[data-invalid][data-pressed]:not([data-selected]) ._checkbox_1up1u_13 {
  border-color: var(--zds-status-error-strongest);
}
._root_1up1u_1[data-invalid][data-selected] svg {
  stroke-dashoffset: 44;
}
._root_1up1u_1[data-disabled] {
  color: var(--zds-text-weaker);
  cursor: not-allowed;
  background: var(--zds-background-stronger);
}
._root_1up1u_1[data-disabled] ._checkbox_1up1u_13 {
  background: var(--zds-background-stronger);
  border-color: var(--zds-stroke-default);
}
._root_1up1u_1[data-disabled]:not([data-indeterminate=true]) svg {
  width: 12px;
  height: 12px;
  stroke: var(--zds-stroke-default) !important;
}
._root_1up1u_1[data-disabled][data-has-no-visible-label] {
  background: none;
}
._root_1up1u_1[data-disabled][data-has-no-visible-label] ._checkbox_1up1u_13 {
  background: var(--zds-background-stronger);
}
._root_1up1u_1[data-indeterminate][data-invalid] ._checkbox_1up1u_13 {
  background: var(--zds-status-error-stronger);
}
._root_1up1u_1[data-indeterminate][data-disabled] ._checkbox_1up1u_13 {
  background: var(--zds-gray-warm-5);
}
._root_1up1u_1[data-indeterminate] svg {
  transition: none;
  stroke: none;
  top: 0;
  fill: var(--zds-prime-white);
}
._label_1up1u_53 {
  box-sizing: border-box;
  font: var(--zds-body-1);
  padding-left: var(--zds-space-4);
}._checkbox-group_1z9pi_1 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: var(--zds-space-12);
  color: var(--zds-text-default);
}

._options-wrapper_1z9pi_9 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: var(--zds-space-12);
}._root_pr4ue_1 {
  all: unset;
  display: revert;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: var(--zds-size-small);
  border: var(--zds-border-weak);
  border-radius: var(--zds-radius-default);
  padding-top: var(--zds-space-2);
  /* Baseline right padding. Children will apply additional spacing to meet spacing specified in designs. */
  padding-right: var(--zds-space-2);
  padding-bottom: var(--zds-space-2);
  /* Baseline left padding. Children will apply additional spacing to meet spacing specified in designs. */
  padding-left: var(--zds-space-2);
  cursor: default;
  /* Icon overrides */
}
._root_pr4ue_1[data-focus-visible] {
  outline: var(--zds-border-focus);
  outline-offset: 2px;
}
._root_pr4ue_1[data-selectable] {
  cursor: pointer;
}
._root_pr4ue_1[data-selected] {
  background-color: var(--zds-background-selected);
  border-color: var(--zds-stroke-selected);
}
._root_pr4ue_1[data-selectable]:not([data-disabled]) {
  cursor: pointer;
}
._root_pr4ue_1[data-variant=neutral] {
  background-color: var(--zds-background-stronger);
}
._root_pr4ue_1[data-variant=neutral][data-selected] {
  background-color: var(--zds-background-default);
  border-color: var(--var-zds-stroke-stronger);
}
._root_pr4ue_1[data-disabled] {
  background-color: var(--zds-background-strongest);
  border: none;
  cursor: not-allowed;
}
._root_pr4ue_1[data-size=medium] {
  height: var(--zds-size-medium);
  padding-top: var(--zds-space-6);
  padding-bottom: var(--zds-space-6);
}
._root_pr4ue_1[data-selected] [data-testid=iconContainer] {
  box-sizing: border-box;
  color: var(--zds-text-link);
}
._root_pr4ue_1 span[data-testid=iconContainer] {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--zds-size-16);
  width: var(--zds-size-16);
}
._root_pr4ue_1[data-size=medium] span[data-testid=iconContainer] {
  height: var(--zds-size-20);
  width: var(--zds-size-20);
}
._title-label-wrapper_pr4ue_67 {
  box-sizing: border-box;
  display: inline-flex;
  gap: var(--zds-space-2);
  margin-left: var(--zds-space-4);
  margin-right: var(--zds-space-2);
}
[data-size=medium] ._title-label-wrapper_pr4ue_67 {
  gap: var(--zds-space-4);
  margin-left: var(--zds-space-6);
  margin-right: var(--zds-space-6);
}
._title_pr4ue_67 {
  box-sizing: border-box;
  font: var(--zds-body-3-multiline);
  color: var(--zds-text-default);
}
[data-size=compact] ._title_pr4ue_67 {
  font: var(--zds-minimal-print-3);
}
[data-size=medium] ._title_pr4ue_67 {
  font: var(--zds-body-3);
}
[data-selected] ._title_pr4ue_67 {
  color: var(--zds-text-link);
}
[data-variant=neutral][data-selected] ._title_pr4ue_67 {
  color: var(--zds-text-stronger);
}
._label_pr4ue_98 {
  box-sizing: border-box;
  font: var(--zds-body-1-multiline);
  color: var(--zds-text-weakest);
}
[data-size=compact] ._label_pr4ue_98 {
  font: var(--zds-minimal-print-1);
}
[data-size=medium] ._label_pr4ue_98 {
  font: var(--zds-body-1);
}
[data-selected] ._label_pr4ue_98 {
  color: var(--zds-text-link);
}
[data-variant=neutral][data-selected] ._label_pr4ue_98 {
  color: var(--zds-text-weakest);
}
._removalButton_pr4ue_116 {
  /* Applies the same size to both the button and the Icon because otherwise button gets extra height */
  all: unset;
  display: revert;
  box-sizing: border-box;
  cursor: pointer;
  height: var(--zds-size-20);
  width: var(--zds-size-20);
}
._removalButton_pr4ue_116 [data-testid=iconContainer] {
  height: var(--zds-size-20) !important;
  width: var(--zds-size-20) !important;
}
[data-size=compact] ._removalButton_pr4ue_116 {
  height: var(--zds-size-16);
  width: var(--zds-size-16);
}
[data-size=compact] ._removalButton_pr4ue_116 [data-testid=iconContainer] {
  height: var(--zds-size-16) !important;
  width: var(--zds-size-16) !important;
}._root_6vpf2_1 {
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  gap: var(--zds-space-8);
  flex-wrap: wrap;
}._root_mhk2s_1 {
  all: unset;
  display: revert;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  border: var(--zds-border-default);
  border-radius: var(--zds-radius-default);
  background: var(--zds-background-weaker);
  cursor: default;
  /* Icon overrides */
  /* ServiceIcon overrides */
}
._root_mhk2s_1[data-focus-visible] {
  outline: var(--zds-border-focus);
  outline-offset: 2px;
}
._root_mhk2s_1[data-selected] {
  background-color: var(--zds-background-selected);
  border-color: var(--zds-stroke-selected);
}
._root_mhk2s_1[data-selectable]:not([data-disabled]) {
  cursor: pointer;
}
._root_mhk2s_1[data-variant=neutral] {
  background-color: var(--zds-background-default);
}
._root_mhk2s_1[data-variant=neutral][data-selected] {
  border-color: var(--zds-stroke-stronger);
}
._root_mhk2s_1[data-variant=brand] {
  background-color: var(--zds-brand-cream);
  border-color: var(--zds-ui-brand);
}
._root_mhk2s_1[data-variant=brand][data-selected] {
  background-color: var(--zds-ui-brand-weaker);
  border-color: var(--zds-ui-brand);
}
._root_mhk2s_1[data-disabled] {
  background-color: var(--zds-background-strongest);
  border-color: var(--zds-background-strongest);
  cursor: not-allowed;
}
._root_mhk2s_1[data-variant=brand] [data-testid=iconContainer] {
  color: var(--zds-ui-brand);
}
._root_mhk2s_1 span[data-testid=iconContainer] {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--zds-size-small);
  width: var(--zds-size-small);
}
._root_mhk2s_1 span[data-testid=iconContainer] svg {
  height: 0.875rem !important;
  width: 0.875rem !important;
}
._root_mhk2s_1[data-size=medium] span[data-testid=iconContainer] {
  height: var(--zds-size-medium);
  width: var(--zds-size-medium);
}
._root_mhk2s_1[data-size=medium] span[data-testid=iconContainer] svg {
  height: var(--zds-size-small) !important;
  width: var(--zds-size-small) !important;
}
._root_mhk2s_1 span[data-testid=ServiceIconShell] {
  height: var(--zds-size-small);
  width: var(--zds-size-small);
  background: none;
}
._root_mhk2s_1 span[data-testid=ServiceIconShell] img {
  height: 0.875rem !important;
  width: 0.875rem !important;
}
._root_mhk2s_1[data-size=medium] span[data-testid=ServiceIconShell] {
  height: var(--zds-size-medium);
  width: var(--zds-size-medium);
  background: none;
}
._root_mhk2s_1[data-size=medium] span[data-testid=ServiceIconShell] img {
  height: var(--zds-size-small) !important;
  width: var(--zds-size-small) !important;
}
._title-label-wrapper_mhk2s_85 {
  box-sizing: border-box;
  display: inline-flex;
  gap: var(--zds-space-2);
  padding-top: var(--zds-space-2);
  padding-bottom: var(--zds-space-2);
  padding-right: var(--zds-space-6);
}
[data-size=medium] ._title-label-wrapper_mhk2s_85 {
  gap: var(--zds-space-4);
  padding-top: var(--zds-space-6);
  padding-bottom: var(--zds-space-6);
  padding-right: var(--zds-space-8);
}
._title_mhk2s_85 {
  box-sizing: border-box;
  font: var(--zds-small-print-3);
  color: var(--zds-text-default);
}
[data-size=compact] ._title_mhk2s_85 {
  font: var(--zds-minimal-print-3);
}
[data-size=medium] ._title_mhk2s_85 {
  font: var(--zds-body-3);
}
[data-disabled] ._title_mhk2s_85 {
  color: var(--zds-text-weakest);
  cursor: not-allowed;
}
._label_mhk2s_116 {
  box-sizing: border-box;
  font: var(--zds-small-print-1);
  color: var(--zds-text-weakest);
}
[data-size=compact] ._label_mhk2s_116 {
  font: var(--zds-minimal-print-1);
}
[data-size=medium] ._label_mhk2s_116 {
  font: var(--zds-body-1);
}
[data-selected][data-variant=brand] ._label_mhk2s_116 {
  color: var(--zds-text-weaker);
}._root_6vpf2_1 {
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  gap: var(--zds-space-8);
  flex-wrap: wrap;
}@keyframes _fade-in_1kiwo_1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes _fade-out_1kiwo_1 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
._modal-overlay_1kiwo_17 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--zds-background-overlay);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: var(--zds-zindex-modal-overlay, 2000);
}
@media (prefers-reduced-motion: no-preference) {
  ._modal-overlay_1kiwo_17[data-entering] {
    animation: _fade-in_1kiwo_1 var(--zds-animation-duration, 300ms);
  }
  ._modal-overlay_1kiwo_17[data-exiting] {
    animation: _fade-out_1kiwo_1 var(--zds-animation-duration, 300ms) var(--zds-animation-timing-function, ease-in-out);
  }
}

._modal_1kiwo_17 {
  position: relative;
  border-radius: 5px;
  max-width: calc(100vw - var(--zds-space-20));
  max-height: min(650px, 100vh - 70px);
  background-color: var(--zds-background-weaker);
  outline: none;
  box-shadow: -8px 0 20px rgba(0, 0, 0, 0.1);
}
@media screen and (width >= 768px) {
  ._modal_1kiwo_17 {
    min-width: 550px;
    max-width: 650px;
    margin: 0 var(--zds-space-20);
  }
}

._dialog_1kiwo_55 {
  outline: none;
  display: flex;
  flex-direction: column;
  max-height: inherit;
  padding: var(--zds-size-20);
}
@media screen and (width >= 768px) {
  ._dialog_1kiwo_55 {
    padding: var(--zds-size-36);
  }
}

._close-button_1kiwo_68 {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: var(--zds-zindex-close-button, 1);
}._modal-content-body_1d4nm_1 {
  font: var(--zds-body-1);
  display: flex;
  min-height: 0;
  position: relative;
  margin-bottom: var(--zds-space-20);
  color: var(--zds-text-default);
}
._modal-content-body_1d4nm_1[data-text-align=start] {
  text-align: start;
}
._modal-content-body_1d4nm_1[data-text-align=end] {
  text-align: end;
}
._modal-content-body_1d4nm_1[data-text-align=justify] {
  text-align: justify;
}
._modal-content-body_1d4nm_1[data-text-align=center] {
  text-align: center;
}
._modal-content-body_1d4nm_1::-webkit-scrollbar {
  appearance: none;
  width: var(--zds-size-8);
}
._modal-content-body_1d4nm_1::-webkit-scrollbar-thumb {
  border-radius: var(--zds-radius-small);
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
._modal-content-body_1d4nm_1::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
._modal-content-body_1d4nm_1::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 46px;
  pointer-events: none;
  background: linear-gradient(0deg, #fffdf9 0%, rgba(255, 255, 255, 0) 75%);
}

._modal-content-body-inner_1d4nm_44 {
  overflow-y: auto;
  padding-bottom: 26px;
}._modal-content-footer_1ai2a_1 {
  display: flex;
  flex-direction: column;
  gap: var(--zds-space-12);
}
@media screen and (width >= 768px) {
  ._modal-content-footer_1ai2a_1 {
    flex-direction: row;
    justify-content: flex-end;
    gap: var(--zds-space-20);
  }
}._modal-content-header_10s6n_1 {
  font: var(--zds-paragraph-header-3);
  margin-bottom: var(--zds-space-20);
  color: var(--zds-text-default);
}
._modal-content-header_10s6n_1[data-text-align=start] {
  text-align: start;
}
._modal-content-header_10s6n_1[data-text-align=end] {
  text-align: end;
}
._modal-content-header_10s6n_1[data-text-align=justify] {
  text-align: justify;
}
._modal-content-header_10s6n_1[data-text-align=center] {
  text-align: center;
}._modal-dialog-body_tvec5_1 {
  font: var(--zds-body-1);
  display: flex;
  min-height: 0;
  position: relative;
  margin-bottom: var(--zds-space-20);
  color: var(--zds-text-default);
}
._modal-dialog-body_tvec5_1[data-text-align=start] {
  text-align: start;
}
._modal-dialog-body_tvec5_1[data-text-align=end] {
  text-align: end;
}
._modal-dialog-body_tvec5_1[data-text-align=justify] {
  text-align: justify;
}
._modal-dialog-body_tvec5_1[data-text-align=center] {
  text-align: center;
}
._modal-dialog-body_tvec5_1::-webkit-scrollbar {
  appearance: none;
  width: var(--zds-size-8);
}
._modal-dialog-body_tvec5_1::-webkit-scrollbar-thumb {
  border-radius: var(--zds-radius-small);
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
._modal-dialog-body_tvec5_1::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
._modal-dialog-body_tvec5_1::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 46px;
  pointer-events: none;
  background: linear-gradient(0deg, #fffdf9 0%, rgba(255, 255, 255, 0) 75%);
}

._modal-dialog-body-inner_tvec5_44 {
  overflow-y: auto;
  padding-bottom: 26px;
}._modal-dialog-footer_1vlrp_1 {
  display: flex;
  flex-direction: column;
  gap: var(--zds-space-12);
}
@media screen and (width >= 768px) {
  ._modal-dialog-footer_1vlrp_1 {
    flex-direction: row;
    justify-content: flex-end;
    gap: var(--zds-space-20);
  }
}._modal-dialog-header_nj14j_1 {
  font: var(--zds-paragraph-header-3);
  margin-bottom: var(--zds-space-20);
  color: var(--zds-text-default);
}
._modal-dialog-header_nj14j_1[data-text-align=start] {
  text-align: start;
}
._modal-dialog-header_nj14j_1[data-text-align=end] {
  text-align: end;
}
._modal-dialog-header_nj14j_1[data-text-align=justify] {
  text-align: justify;
}
._modal-dialog-header_nj14j_1[data-text-align=center] {
  text-align: center;
}@keyframes _fade-in_1xqbb_1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes _fade-out_1xqbb_1 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
._modal-overlay_1xqbb_17 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--zds-background-overlay);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: var(--zds-zindex-modal-overlay, 2000);
}
@media (prefers-reduced-motion: no-preference) {
  ._modal-overlay_1xqbb_17[data-entering] {
    animation: _fade-in_1xqbb_1 var(--zds-animation-duration, 200ms);
  }
  ._modal-overlay_1xqbb_17[data-exiting] {
    animation: _fade-out_1xqbb_1 var(--zds-animation-duration, 200ms) var(--zds-animation-timing-function, ease-in-out);
  }
}

._modal_1xqbb_17 {
  position: relative;
  border-radius: 5px;
  max-width: calc(100vw - var(--zds-space-20));
  max-height: min(650px, 100vh - 70px);
  background-color: var(--zds-background-weaker);
  outline: none;
  box-shadow: -8px 0 20px rgba(0, 0, 0, 0.1);
}
@media screen and (width >= 768px) {
  ._modal_1xqbb_17 {
    min-width: 550px;
    max-width: 650px;
    margin: 0 var(--zds-space-20);
  }
}

._dialog_1xqbb_55 {
  outline: none;
  display: flex;
  flex-direction: column;
  max-height: inherit;
  padding: var(--zds-space-20);
}
@media screen and (width >= 768px) {
  ._dialog_1xqbb_55 {
    padding: var(--zds-space-36);
  }
}

._close-button_1xqbb_68 {
  position: absolute;
  top: var(--zds-space-8);
  right: var(--zds-space-8);
  z-index: var(--zds-zindex-close-button, 1);
}._popover_wo9mi_1 {
  outline: none;
  font: var(--zds-body-1-multiline);
  width: max-content;
  max-width: 300px;
  border-radius: var(--zds-radius-medium);
  padding: var(--zds-space-4) var(--zds-space-8);
}
._popover_wo9mi_1[data-color=light] {
  background: var(--zds-background-default);
  color: var(--zds-gray-warm-1);
}
._popover_wo9mi_1[data-color=dark] {
  background: var(--zds-gray-warm-10);
  color: var(--zds-gray-warm-1);
}
._popover-content_wo9mi_18 p {
  margin-bottom: 0;
}
._popover-content_wo9mi_18[data-color=dark] a {
  color: var(--zds-gray-warm-1);
}
._popover-content_wo9mi_18[data-color=dark] code {
  color: var(--zds-gray-warm-3);
}
._popover-content_wo9mi_18[data-color=light] a {
  color: var(--zds-gray-warm-10);
}
._popover-content_wo9mi_18[data-color=light] code {
  color: var(--zds-gray-warm-6);
}
._dialog_wo9mi_34 {
  outline: none;
}
._close-button_wo9mi_38 {
  all: unset;
  display: revert;
  box-sizing: border-box;
  cursor: pointer;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}
._popover-header-layout_wo9mi_49 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  min-height: 10px;
}
._popover-content-scroll-container_wo9mi_57 {
  max-height: 150px;
  overflow: auto;
}._radio_1e8yq_1 {
  display: flex;
  align-items: center;
  gap: var(--zds-space-6);
  color: var(--zds-text-default);
  forced-color-adjust: none;
  position: relative;
  padding-left: var(--zds-space-2);
  font: var(--zds-body-1);
  /* This selector intentionally comes after the data-invalid selectors so that data-disabled styles don't get overwritten by data-invalid styles */
}
._radio_1e8yq_1::before {
  content: "";
  display: block;
  /* min-width ensures that the radio doesn't become an oval when content gets long */
  min-width: var(--zds-size-20);
  height: var(--zds-size-20);
  box-sizing: border-box;
  border: var(--zds-size-2) solid var(--zds-stroke-default);
  border-radius: var(--zds-radius-pill);
}
._radio_1e8yq_1::after {
  position: absolute;
  left: var(--zds-space-8);
  border-radius: var(--zds-radius-pill);
  content: "";
  width: var(--zds-size-8);
  height: var(--zds-size-8);
  opacity: 0;
}
._radio_1e8yq_1[data-pressed]::before {
  border-color: var(--zds-ui-primary-stronger);
}
._radio_1e8yq_1[data-selected] {
  font: var(--zds-body-3);
}
._radio_1e8yq_1[data-selected]::before {
  border-color: var(--zds-ui-primary-stronger);
}
._radio_1e8yq_1[data-selected]::after {
  background-color: var(--zds-ui-primary-stronger);
  opacity: 1;
}
._radio_1e8yq_1[data-selected][data-pressed]::before {
  border-color: var(--zds-ui-primary-stronger);
}
._radio_1e8yq_1[data-focus-visible] {
  outline: var(--zds-border-focus);
  outline-offset: var(--zds-space-2px);
}
._radio_1e8yq_1[data-disabled]::before, ._radio_1e8yq_1[data-disabled]::after {
  border-color: var(--zds-stroke-default);
}
._radio_1e8yq_1[data-invalid] {
  color: var(--zds-status-error-stronger);
}
._radio_1e8yq_1[data-invalid]::before {
  border-color: var(--zds-status-error-stronger);
}
._radio_1e8yq_1[data-invalid]::after {
  background-color: var(--zds-status-error-stronger);
}
._radio_1e8yq_1[data-disabled] {
  cursor: not-allowed;
  background-color: var(--zds-background-stronger);
  color: var(--zds-text-weakest);
}
._radio_1e8yq_1[data-disabled][data-selected]::after {
  background-color: var(--zds-text-weakest);
  opacity: 1;
}._radio-group_k56ft_1 {
  display: flex;
  flex-direction: column;
  gap: var(--zds-space-12);
}._nav-item_159s2_1 {
  box-sizing: border-box;
}
._nav-item_159s2_1:not(:last-child) {
  margin-bottom: var(--zds-space-4);
}
._nav-item-button_159s2_8 {
  all: unset;
  display: revert;
  box-sizing: border-box;
  cursor: pointer;
  font: var(--zds-body-1);
  display: flex;
  height: var(--zds-size-medium);
  background-color: transparent;
  font-weight: 400;
  border-radius: var(--zds-radius-medium);
}
._nav-item-button_159s2_8[data-selected=true] {
  background-color: var(--zds-ui-brand-weakest);
  font-weight: 600;
}
._nav-item-button_159s2_8:hover {
  background-color: var(--zds-background-stronger);
}
._nav-item-button_159s2_8:hover[data-selected=true] {
  background-color: var(--zds-ui-brand-weakest);
}
._nav-item-button_159s2_8:has([data-focus-visible], a:focus-visible) {
  outline: var(--zds-border-focus);
}
ul ul ._nav-item-button_159s2_8 {
  padding-left: var(--zds-space-20);
}
._nav-item-button_159s2_8 > *:last-child {
  padding-right: var(--zds-space-16);
}
._nav-item-button_159s2_8 > * {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
}
._nav-item-link_159s2_46 {
  all: unset;
  display: revert;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  white-space: nowrap;
  flex: 1;
  padding-left: var(--zds-space-16);
  color: var(--zds-text-default);
}
._nav-item-toggle-button_159s2_58 {
  all: unset;
  display: revert;
  box-sizing: border-box;
  cursor: pointer;
  padding-left: var(--zds-space-16);
}
._nav-item-toggle-button_159s2_58:hover, ._nav-item-toggle-button_159s2_58[data-focus-visible] {
  color: var(--zds-ui-primary-stronger);
}
._nav-item-toggle-button_159s2_58 > [class*=Icon] {
  transform: unset;
}
._nav-item-toggle-button_159s2_58[data-expanded=true] > [class*=Icon] {
  transform: rotate(180deg) translateY(-1px);
}._secondary-nav-list_zkl68_1 {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
}
._secondary-nav-list_zkl68_1 ul {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: var(--zds-space-4);
}._secondary-nav-title_1uwk4_1 {
  all: unset;
  display: revert;
  box-sizing: border-box;
  font: var(--zds-paragraph-header-3);
  color: var(--zds-text-default);
  padding: var(--zds-space-6) var(--zds-space-20) var(--zds-space-16) var(--zds-space-16);
}._secondary-nav_clfmr_1 {
  box-sizing: border-box;
  position: sticky;
  top: var(--zds-size-32);
}._header_139rn_1 {
  padding: var(--zds-space-8);
  font: var(--zds-body-3);
}

._section_139rn_6 div[role=option] {
  padding-left: var(--zds-space-20);
}._select-item_1g2zo_1 {
  font: var(--zds-body-2);
  padding: var(--zds-space-6) var(--zds-space-8);
  border-radius: var(--zds-radius-small);
  display: flex;
  align-items: center;
  gap: var(--zds-space-8);
  color: var(--zds-text-default);
  outline: none;
  user-select: none;
  cursor: pointer;
}
._select-item_1g2zo_1[data-size=large] {
  padding: var(--zds-space-12) var(--zds-space-8);
}
._select-item_1g2zo_1[data-size=compact] {
  font: var(--zds-minimal-print-2);
}
._select-item_1g2zo_1[data-state=checked] {
  color: var(--zds-ui-primary-strongest);
  background-color: var(--zds-ui-primary-weaker);
  outline: none;
}
._select-item_1g2zo_1[data-disabled] {
  background-color: var(--zds-background-stronger);
  color: var(--zds-text-weakest);
  cursor: not-allowed;
}
._select-item_1g2zo_1[data-focused], ._select-item_1g2zo_1[data-focus-visible] {
  background-color: var(--zds-ui-primary-weakest);
  color: var(--zds-ui-primary-strongest);
}._select_c1fz5_1 {
  display: flex;
  flex-direction: column;
  gap: var(--zds-space-4);
}
._select_c1fz5_1[data-invalid] > button {
  border: 1px solid var(--zds-status-error);
}

._select-trigger_c1fz5_10 {
  padding-left: var(--zds-space-8);
  padding-right: var(--zds-space-8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--zds-size-medium);
  width: 100%;
  background-color: var(--zds-background-weaker);
  border-radius: var(--zds-radius-small);
  border: 1px solid var(--zds-stroke-default);
  text-align: left;
  cursor: pointer;
  font: var(--zds-body-2);
}
._select-trigger_c1fz5_10[data-size=large] {
  height: var(--zds-size-large);
}
._select-trigger_c1fz5_10[data-focused], ._select-trigger_c1fz5_10[data-focus-visible] {
  outline: var(--zds-border-focus);
  outline-offset: -1px;
}
._select-trigger_c1fz5_10[data-pressed] {
  background-color: var(--zds-background-default);
}
._select-trigger_c1fz5_10[data-disabled] {
  cursor: not-allowed;
  background-color: var(--zds-background-strongest);
  color: var(--zds-text-weakest);
  border: 1px solid var(--zds-stroke-weaker);
}

._select-value_c1fz5_42 {
  display: flex;
  align-items: center;
  gap: var(--zds-space-8);
  padding-right: var(--zds-space-12);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--zds-text-default);
}
._select-value_c1fz5_42[data-placeholder] {
  color: var(--zds-text-weakest);
}
._select-value_c1fz5_42[data-size=compact] {
  font: var(--zds-minimal-print-2);
}

._popover_c1fz5_59 {
  max-height: 215px;
  overflow: auto;
  padding: var(--zds-space-8);
  box-sizing: border-box;
  background-color: var(--zds-background-weaker);
  border: 1px solid var(--zds-stroke);
  box-shadow: var(--popover-shadow); /* --popover-shadow is defined in Select.tsx */
  border-radius: var(--zds-radius-small);
  width: var(--trigger-width); /* --trigger-width is provided by react-aria Popover */
}

._list-box_c1fz5_71 {
  outline: none;
}._root_b66h0_1 {
  all: unset;
  display: revert;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: var(--zds-space-4);
  height: var(--zds-size-small);
  border: var(--zds-border-width-default) solid var(--zds-status-success);
  border-radius: var(--zds-radius-default);
  padding-left: var(--zds-space-4);
  padding-right: var(--zds-space-6);
  background-color: var(--zds-status-success-weakest);
  font: var(--zds-body-3);
}
._root_b66h0_1[data-focus-visible] {
  outline: var(--zds-border-focus);
  outline-offset: 2px;
}
._root_b66h0_1[data-hovered] {
  background-color: var(--zds-status-success-weaker);
}
._root_b66h0_1[data-size=compact] {
  font: var(--zds-minimal-print-3);
}
._root_b66h0_1[data-size=medium] {
  height: var(--zds-size-medium);
  gap: var(--zds-space-6);
}
._root_b66h0_1[data-variant=warning] {
  border-color: var(--zds-status-warning-weaker);
  background-color: var(--zds-status-warning-weakest);
}
._root_b66h0_1[data-variant=warning][data-hovered] {
  background-color: var(--zds-background-weaker);
}
._root_b66h0_1[data-variant=error] {
  border-color: var(--zds-status-error);
  background-color: var(--zds-status-error-weakest);
}
._root_b66h0_1[data-variant=error][data-hovered] {
  background-color: var(--zds-status-error-weaker);
}._tooltip-base_1c7gh_1 {
  font: var(--zds-body-1);
  background: var(--zds-gray-warm-10);
  border-radius: var(--zds-radius-medium);
  color: var(--zds-gray-warm-1);
  padding: var(--zds-space-2) var(--zds-space-12);
  width: max-content;
  max-width: 300px;
}

._tooltip-single-line_1c7gh_11 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

._tooltip-multi-line_1c7gh_17 {
  font: var(--zds-body-1-multiline);
  border-radius: var(--zds-radius-medium);
  padding: var(--zds-space-4) var(--zds-space-8);
}._list-box-item_1kwcn_1 {
  font: var(--zds-body-2);
  margin: var(--zds-space-8);
  padding: var(--zds-space-6) var(--zds-space-8);
  cursor: pointer;
}
._list-box-item_1kwcn_1[data-size=compact], ._list-box-item_1kwcn_1[data-size=medium] {
  padding: var(--zds-space-8);
}
._list-box-item_1kwcn_1[data-size=compact] {
  font: var(--zds-minimal-print-2);
}
._list-box-item_1kwcn_1[data-focus-visible] {
  outline: none;
  background-color: var(--zds-ui-primary-weakest);
  color: var(--zds-ui-primary-strongest);
}
._list-box-item_1kwcn_1[data-selected] {
  font-weight: 600;
  background-color: var(--zds-ui-primary-weakest);
  color: var(--zds-ui-primary-strongest);
}
._list-box-item_1kwcn_1[data-selected]::before {
  position: absolute;
  top: var(--zds-space-4);
  left: var(--zds-space-4);
}
._list-box-item_1kwcn_1[data-focused], ._list-box-item_1kwcn_1[data-pressed] {
  background-color: var(--zds-ui-primary-weakest);
  color: var(--zds-ui-primary-strongest);
}._combo-box_103c5_1 {
  display: flex;
  flex-direction: column;
  gap: var(--zds-space-4);
}

._input-wrapper_103c5_7 {
  position: relative;
}

._icon-left-wrapper_103c5_11 {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--zds-size-large);
  height: var(--zds-size-large);
  color: var(--zds-stroke-stronger);
}
._icon-left-wrapper_103c5_11[data-size=compact], ._icon-left-wrapper_103c5_11[data-size=medium] {
  width: var(--zds-size-medium);
  height: var(--zds-size-medium);
}

._input_103c5_7 {
  font: var(--zds-body-2);
  box-sizing: border-box;
  margin: 0;
  height: var(--zds-size-large);
  border: 1px solid var(--zds-stroke-default);
  border-radius: var(--zds-radius-small);
  padding: var(--zds-space-12) var(--zds-space-40);
  background-color: var(--zds-background-weaker);
  font-size: var(--zds-font-size-default);
  color: var(--zds-text-default);
  vertical-align: middle;
  width: 100%;
}
._input_103c5_7[data-size=compact] {
  font: var(--zds-minimal-print-2);
}
._input_103c5_7[data-size=compact], ._input_103c5_7[data-size=medium] {
  height: var(--zds-size-medium);
  padding: var(--zds-space-6) var(--zds-space-36);
}
._input_103c5_7::placeholder {
  color: var(--zds-text-weaker);
}
._input_103c5_7[data-focused] {
  outline: var(--zds-border-focus);
  outline-offset: -2px;
}
._input_103c5_7[data-disabled] {
  background-color: var(--zds-background-strongest);
  color: var(--zds-text-weakest);
  border-color: var(--zds-stroke-weaker);
  cursor: not-allowed;
}
._input_103c5_7[data-invalid] {
  border-color: var(--zds-status-error);
}

._input-no-left-icon_103c5_64 {
  padding: var(--zds-space-8) var(--zds-space-12);
}
._input-no-left-icon_103c5_64[data-size=compact], ._input-no-left-icon_103c5_64[data-size=medium] {
  padding: var(--zds-space-8) var(--zds-space-6);
}

._popover_103c5_71 {
  width: var(--trigger-width);
  background-color: var(--zds-brand-almost-white);
  box-shadow: var(--zds-shadow-surface);
  overflow: auto;
}
._popover_103c5_71._custom-width_103c5_77 {
  width: var(--menu-width);
}

._list-box_103c5_81 {
  display: block;
  width: unset;
  max-height: inherit;
  min-height: unset;
  border: none;
}